/*Stylesheet*/

header{
    border-bottom: solid 2px #cccccc;
    background-color: white;
    height: 150px;
    margin: 0px auto 20px auto;
}

.name{
    background-color: #4aaaa5;
    border-color: #cccccc;
    color: white;
    display: inline-flex;
    float: absolute; 
    font-family: 'Georgia', 'Times', 'Times New Roman';
    font-size: 24px;
    font-weight: 900;
    left: 225px;
    padding: 20px;
    position: relative;
    text-align: center;
    top: 83px;
}

nav{
    display: inline-flex;
    float: absolute;
    left: 650px;
    position: relative;
    text-align: center;
    top: 80px;
}

#about, #portfolio, #contact{
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';    
    padding: 20px;
}

body {
    background-image:url(/Users/nicolewilsey/trilogy/homework/Basic-Portfolio/assets/images/dust_scratches.png); 
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
    height: 100%;
}

.container{
    background-color: #ffffff;
    margin: auto;   
    margin-bottom: -50px;
    min-height: 100%;
    padding: 10px 0px 0px 0px;
    width: 960px;
}

h1{
    border-bottom: solid 2px #dddddd;
    color: #4aaaa5;
    display: block;
    font-family: 'Georgia', 'Times', 'Times New Roman';
    left: 20px;
    position: relative;
    width: 900px;
}

.mainphoto{
    float: left;
    padding: 20px;
}

blockquote{
    line-height: 1.7;
    padding: 20px;
}

.push{
    height: 50px;
}

footer{
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    bottom: 0px;
    color: white;
    font-size: 10px;
    height: 50px;
    text-align: center;
}